@keyframes neonPulse {
    0% {
      box-shadow:
        0 0 6px #7A5BFF,
        0 0 12px #7A5BFF,
        0 0 18px #46D9D1,
        0 0 28px #46D9D1;
    }
    50% {
      box-shadow:
        0 0 10px #46D9D1,
        0 0 20px #46D9D1,
        0 0 35px #7A5BFF,
        0 0 50px #7A5BFF;
    }
    100% {
      box-shadow:
        0 0 6px #7A5BFF,
        0 0 12px #7A5BFF,
        0 0 18px #46D9D1,
        0 0 28px #46D9D1;
    }
  }
.sidebar-top .logo-container {
  margin: 0;
  width: auto;
}

/* Circular glowing background */
.logo-container img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    border: none;
    margin: auto;
    box-shadow:
      0 0 6px #7A5BFF,
      0 0 12px #7A5BFF,
      0 0 18px #46D9D1,
      0 0 28px #46D9D1;
    animation: neonPulse 2.8s infinite ease-in-out;

  background: radial-gradient(
    circle at center,
    #1e90ff 0%,
    #0b2a5a 60%,
    #071a3d 100%
  );

  padding: 0px;

  box-shadow:
    0 0 20px rgba(30, 144, 255, 0.6),
    0 0 40px rgba(30, 144, 255, 0.3),
    inset 0 0 10px rgba(255, 255, 255, 0.2);

  margin: auto;
}

/* Company name */
/* .logo-container h2 {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
} */

/* Tagline */
.logo-container p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 180px;
  padding: 20px 10px;
  margin: 0 auto 20px;

  color: #ffffff;
  text-align: center;
}